body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(253, 253, 253);
    color: rgb(17, 131, 17);    
}
header .btn1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: black;
    background-color: darkgreen;   
}
  
